PROJECT_NAME=StoreCore Sales Agent Engine
VERSION=1.0.0
API_V1_STR=/api/v1
DEBUG=true

LLM_PROVIDER=ollama
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=llama3
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_BASE_URL=https://api.groq.com/openai/v1

LANGFUSE_PUBLIC_KEY=pk-lf-demo
LANGFUSE_SECRET_KEY=sk-lf-demo
LANGFUSE_HOST=http://langfuse:3000

# Redis Config
REDIS_URL=redis://redis:6379/0

# Langfuse Auto-provisioning
LANGFUSE_INIT_ORG_ID=storecore-org
LANGFUSE_INIT_ORG_NAME=StoreCore Org
LANGFUSE_INIT_PROJECT_ID=storecore-project
LANGFUSE_INIT_PROJECT_NAME=StoreCore Sales Project
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-123456789
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-123456789
LANGFUSE_INIT_USER_EMAIL=admin@storecore.ai
LANGFUSE_INIT_USER_PASSWORD=adminpassword123


